@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,600,600i&display=swap');


h1{
  font-family: 'Poppins';
  font-size: 170%;
  text-align: center;
  margin-top: 10%;
}

.body{
  text-align: center;
}
